<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/ui.css" />
    <title>Document</title>
    <style>
        progress::-webkit-progress-bar {
          background-color: #e0e0e0; 
        }
        progress::-webkit-progress-value {
          background-color: var(--progress-bar-color, <%= progressColour %>);
        }
        progress::-moz-progress-bar {
          background-color: var(--progress-bar-color, <%= progressColour %>);
        }
    </style>
  </head>
  <body>
    <div class="main-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="profile">
            <!-- Profile Picture (Use an actual image URL here) -->
            <img src="/uni-image.jpg" alt="Profile Picture">
            <h3><%= student_name %></h3>
          </div>
        <aside>
            <nav>
              <ul>
                <li><a href="#">Portal</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Progression</a></li>
                <li><a href="#">Pings</a></li>
              </ul>
            </nav>
          </aside>
      </div>
      <div class="main-content">
        <div class="dash-container">
          <div class="dash-box">
            <div class="dash-title">
              <h3>Home Portal</h3>
              <p>Welcome back, <%= student_name %>!</p>
            </div>
            <div class="grid">
                <article>
                    <header>Most Recent Result</header>
                    <div class="grid">
                    <ul><%= student_subjects[student_results.length-1].module_title %></ul>
                    <ul> <%= student_results[student_results.length - 1].first_grade %>% </ul>
                </div>
                <progress id="progress-bar" value="<%= student_results[student_results.length - 1].first_grade %>" max="100" />    
                  </article>  
                  <article>
                    <header>Overall Result</header>
                    <div class="grid">
                    <ul>Total Percentage</ul>
                    <ul> <%= average %>% </ul>
                </div>
                <progress id="progress-bar" value="<%= average %>" max="100" />
                  </article>        
            </div>
          </div>
        </div>
      </div>
    </div>     
  </body>
</html>
