<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/ui.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="main-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="profile">
            <!-- Profile Picture (Use an actual image URL here) -->
            <img src="/uni-image.jpg" alt="Profile Picture">
            <h3><%= student_name %></h3>
          </div>
        <aside>
            <nav>
              <ul>
                <li><a href="#">Portal</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Progression</a></li>
                <li><a href="#">Pings</a></li>
              </ul>
            </nav>
          </aside>
      </div>
      <div class="main-content">
        <div class="dash-container">
          <div class="dash-box">
            <div class="dash-title">
              <h3>Home Portal</h3>
              <p>Welcome back, <%= student_name %>!</p>
            </div>
            <div class="grid">
              <div class="grid" style="display: flex; gap: 20px; justify-content: space-between;">
                
                <article style="flex: 1;">
                  <h4>Most Recent Result</h4>
                  <div class="grid">
                    <% let latestResult = student_results[student_results.length - 1]; %>
                    <p><%= student_subjects[student_subjects.length-1].module_title %></p>
                    <div class="module">
                      <ul><%= latestResult.first_grade %>%</ul>
                    </div>
                  </div>
                  <progress id="progress-bar-<%= student_results.length - 1 %>" 
                            value="<%= latestResult.first_grade %>" 
                            max="100">
                  </progress>
                </article>
            
                <article style="flex: 1;">
                  <h4>Overall %</h4>
                  <div class="grid">
                    <% average %>
                    <p>Current Grade</p>
                    <div class="module">
                      <ul><%= average %>%</ul>
                    </div>
                  </div>
                  <progress id="progress-bar-<%= average %>" 
                            value="<%= average %>" 
                            max="100">
                  </progress>
                </article>
            
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div> 
    <script>
      const studentModules = <%- JSON.stringify(student_results) %>;
  </script>
  <script src="/script.js" defer></script>    
  </body>
</html>
